* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title {
  color: rgb(211, 206, 206);
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keyboard {
  width: 80%;
  background-color: rgb(211, 206, 206);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.keyContainer {
}

.row-keyboard {
  display: flex;
  justify-content: space-between;
}

.btnKey {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: #fff;
  margin: 4px;
  transition: 0.2s;
  cursor: pointer;
}

.backspace,
.caps-lock,
.enter {
  width: 160px;
}

.tab,
.del {
  width: 90px;
}

.shift-left {
  width: 160px;
}

.space {
  max-width: 500px;
  width: 100%;
}

.fieldForText {
  width: 98%;
  height: 20vh;
  font-size: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  transition: 0.2s;
  resize: none;
}

.active {
  background-color: rgb(236, 227, 227);
  color: grey;
  animation: keys_animation 2s linear;
}

@keyframes keys_animation {
  0% {
    background-color: rgb(236, 227, 227);
    color: grey;
  }
  50% {
    background-color: rgb(187, 181, 181);
    color: rgb(196, 191, 191);
  }

  100% {
    background-color: grey;
    color: white;
  }
}

